ACTION=="add", SUBSYSTEM=="net", KERNEL=="usblan0", RUN+="/bin/sh -c 'ip link set usblan0 up && ip addr replace 10.10.10.1/24 dev usblan0 && systemctl --no-block try-restart dnsmasq'"
